<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinklabs.mapper.CountryMapper">

    <resultMap id="BaseResultMap" type="com.tinklabs.entity.Country">
        <result column="geoname_id" property="geonameId"/>
        <result column="locale_code" property="localeCode"/>
        <result column="continent_code" property="continentCode"/>
        <result column="continent_name" property="continentName"/>
        <result column="country_iso_Code" property="countryCode"/>
        <result column="country_name" property="countryName"/>
    </resultMap>
    <sql id="Base_Column_List">
        geoname_id,locale_code,continent_code,continent_name,country_iso_Code,country_name
    </sql>

    <select id="queryCountryList" resultType="com.tinklabs.vo.CountryVo">
        SELECT
        `geoname_id` AS geonameId,
        `locale_code` AS localeCode,
        `continent_code` AS continentCode,
        `continent_name` AS continentName,
        `country_iso_Code` AS countryCode,
        `country_name` AS countryName
        FROM country_full t
        WHERE 1=1
        AND t.locale_code = #{localeCode}

    </select>
</mapper>